.Pending-Task-Content-Container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.Pending-Task-Content {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    width: 96%;
    height: 100%;
    overflow: hidden;
    z-index: 2;
    background-color: transparent;
}

.Pending-Task-Title-Container{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Pending-Task-Content-Title-Label {
    max-width: 50%;
    height: 25px;
    font-family: poppinsMedium;
    font-size: 16px;
    color: #000d41;
}

.Pending-Task-Calendar-Day-Label{
    max-width: 50%;
    height: 25px;
    font-family: poppinsMedium;
    font-size: 14px;
    color: #000d41;
    text-align: right;
}

.Pending-Task-Elements-Container{
    width: 100%;
    height: auto;
    max-height: calc(100% - 144px);
    overflow: hidden;
}

.Pending-Task-State-Container {
    width: 97%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Pending-Task-State-Label {
    font-family: poppinsLight;
    font-size: 16px;
    color: #000d41;
}

.Pending-Task-List-Container-Elements {
    width: 100%;
    height: auto;
    max-height: calc(42% - 30px);
    padding-top: 10px;
    overflow-y: scroll;
}

.Pending-Task-List-Container-Elements::-webkit-scrollbar {
    width: 5px;
    background-color: #ffffff34;
}

.Pending-Task-List-Container-Elements::-webkit-scrollbar-thumb {
    background: #ffffff7c;
}

.Pending-Task-Element-Box {
    width: calc(100% - 10px);
    height: 32px;
    background-color: #ffffffe3;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.Pending-Task-Element-Content {
    width: 98%;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.Pending-Task-Label {
    width: calc(100% - 40px);
    text-align: left;
    font-family: poppinsMedium;
    font-size: 14px;
    color: #000;
}

.Pending-Task-Checkbox-Button{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
}

.Pending-Task-CheckBox-Input {
    width: 20px;
    height: 20px;
}

.Pending-Task-Element-Box-Complete {
    cursor: default;
    margin-bottom: 5px;
}

.Pending-Task-Element-Box-Complete .Pending-Task-Element-Content .Pending-Task-Label,
.Pending-Task-Element-Box-Complete .Pending-Task-Element-Content .Pending-Task-CheckBox-Input {
    opacity: 0.7;
}

.Pending-Task-Complete-Indicator {
    margin: auto;
    width: 100%;
    height: 3px;
    background-color: #000d4185;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    border-radius: 3px;
    transition: .3s;
}

.Pending-Task-Element-Box-Complete:hover {
    background-color: #ffffff15;
}

.Pending-Task-Element-Box-Complete:hover .Pending-Task-Element-Content .Pending-Task-Complete-Indicator {
    width: 0px;
}

.Pending-Task-Controllers-Container {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 20px;
}

.Pending-Task-Controller-Task-Button {
    width: 40px;
    height: 40px;
    border-radius: 38px;
    background-color: #000d41;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.Pending-Task-Controller-Text-Input-Container {
    width: calc(100% - 100px);
    height: 40px;
    border-radius: 38px;
    background-color: #000d41;
    overflow: hidden;
}

.Pending-Task-Controller-Text-Input {
    width: calc(100% - 20px);
    height: 100%;
    border: none;
    outline: none;
    font-family: poppinsLight;
    font-size: 16;
    color: #000000;
    padding-left: 20px;
}

.Pending-Task-Controller-Text-Input::placeholder {
    color: #000000;
}

/* * Styles for Cellphone * */

@media screen and (min-width:0px) and (max-width:414px) {

    .PendingTask-Widget-Container{
        width: 100%;
    }

    .Pending-Task-Content{
        width: 90%;
    }

    .Pending-Task-Content-Container{
        width: 100%;
        height: 400px;
    }

    .Pending-Task-Content-Title-Label{
        font-size: 14px;
    }

    .Pending-Task-Calendar-Day-Label{
        font-size: 14px;
    }

    .Pending-Task-Widget-Background-Sphere{
        top: 1%;
    }    

}