
.Top-Container-Resumen-Data-Container{
    width: calc(100% - 600px);
    height: 100%;
}

.Top-Container-Resumen-Digital-Clock-Container{
    width: 275px;
    height: 125px;
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Digital-Clock-Digitals-Container{
    width: 225px;
    height: 125px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.Digits-Label-Container{
    width: 100px;
    height: 125px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
}

.Digits-Label-Container::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
}

.Digits-Label-Container::-webkit-scrollbar-thumb {
    background: transparent;
}

.Digits-Label{
    min-width: 100px;
    min-height: 125px;
    text-align: center;
    font-family: poppinsMedium;
    font-size: 80px;
    color: #000d41;
}

.Digits-Colom{
    width: 25px;
    text-align: center;
    font-family: poppinsMedium;
    font-size: 80px;
    color: #000d41;
}

.Top-Containter-Resume-Current-Week-Day-Date{
    width: 275px;
    text-align: center;
    font-family: poppinsMedium;
    font-size: 16px;
    color: #000d41;
}

/* * Styles for Cellphone * */

@media screen and (min-width:0px) and (max-width:414px) {
 
    .Top-Container-Resumen-Data-Container{
        width: 100%;
    }

    .Top-Container-Resumen-Digital-Clock-Container{
        margin: auto;
    }
 
    .Digital-Clock-Digitals-Container{
        margin: auto;
    }

    .Top-Section-Container-Margin{
        display: block;
    }

    .Top-Container-Resumen-Data-Container{
        height: 160px;
        margin-bottom: 20px;
    }

    .Top-Containter-Resume-Current-Week-Day-Date{
        width: 100%;
    }

}