.ChatView-View-Container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Chat-View-Chats-Options-Container{
    width: 23%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.Chat-View-Chat-Selected-Display-Container{
    width: 76%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.View-Container-Background{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background: #ffffff6a;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(16.5px);
    -webkit-backdrop-filter: blur(16.5px);
    border-radius: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.Chat-View-Content-Container{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.Chat-Options-Info-Container{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Chat-Options-Info-Margin{
    width: 93%;
    height: 85%;
}

.Chat-Selected-Title-Label{
    font-family: poppinsMedium;
    font-size: 24px;
    color: #06113c;
}

.Chat-Selected-Subtitle-Label{
    font-family: poppinsLight;
    font-size: 14px;
    color: #06113c;
}

.Chat-Options-Container{
    width: 100%;
    height: 79%;
}

.Chat-View-Selected-Content-Container{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Chat-View-No-Selected-Label{
    font-family: poppinsMedium;
    font-size: 16px;
    color: #06113c;
}