.Dashboard-View-Container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.Dashboard-Top-Section-Container {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
}

.Top-Section-Container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 15px;
}

.Top-Section-Container-Background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background: #ffffff6a;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(16.5px);
    -webkit-backdrop-filter: blur(16.5px);
    border-radius: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.Top-Section-Time-Shape {
    width: 225px;
    height: 225px;
    filter: blur(15px);
    background: -webkit-radial-gradient(left bottom, rgb(252, 255, 245) 100px, rgb(196, 242, 255));
    border-radius: 225px;
    position: absolute;
    top: -15%;
    left: 95%;
    box-shadow: 0px 0px 100px 34px rgb(6, 6, 236, 0.324);
}

.Top-Section-Container-Margin {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 98%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    z-index: 2;
    background-color: transparent;
}

.Bottom-Section-Container {
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Database-Widget-Container {
    width: 56%;
    height: 100%;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.PendingTask-Widget-Container {
    width: 42%;
    height: 100%;
    position: relative;
}

.Database-Widget-Background,
.PendingTask-Widget-Background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background: #ffffff6a;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(16.5px);
    -webkit-backdrop-filter: blur(16.5px);
    border-radius: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width:0px) and (max-width:414px) {

    .Dashboard-Top-Section-Container {
        height: auto;
        align-items: flex-start;
        margin-top: 10px;
    }

    .Top-Section-Container {
        height: 180px;
        margin-top: 10px;
    }


    .Dashboard-View-Container {
        margin: auto;
        width: 98%;
    }

    .Bottom-Section-Container {
        height: auto;
        align-items: center;
        flex-direction: column;
        margin-bottom: 20px;
    }
        
}