@keyframes sphereMovementAnimation {

    0% {
        transform: translate(0px, 0px);
        border-radius: 20% 80% 29% 71% / 69% 58% 42% 31%;
    }

    50% {
        transform: translate(60px, 120px);
        border-radius: 75% 25% 75% 25% / 33% 81% 19% 67%;
    }

    75% {
        transform: translate(0px, 0px);
        border-radius: 20% 80% 29% 71% / 69% 58% 42% 31%;
    }

}

.Login-View-Container {
    width: 100vw;
    height: 100vh;
    /* background-color: #f2ff00; */
    background: rgb(233, 248, 255);
    background: -moz-linear-gradient(309deg, rgba(233, 248, 255, 1) 0%, rgba(238, 233, 255, 1) 100%);
    background: -webkit-linear-gradient(309deg, rgba(233, 248, 255, 1) 0%, rgba(238, 233, 255, 1) 100%);
    background: linear-gradient(309deg, rgba(233, 248, 255, 1) 0%, rgba(238, 233, 255, 1) 100%);
    position: relative;
    overflow: hidden;
}

.Login-View-Background {
    margin: auto;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.Login-View-Background-Shape-1 {
    width: 550px;
    height: 550px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    position: absolute;
    top: 50%;
    left: 80%;
    z-index: 2;
    background: -webkit-radial-gradient(left bottom, rgb(0 255 163) 100px, rgb(196 206 255));
    filter: blur(5px);
    animation-name: sphereMovementAnimation;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

.Login-View-Content-Container-Background-Shape-1 {
    margin: auto;
    width: 800px;
    height: 800px;
    border-radius: 800px;
    position: absolute;
    bottom: -265px;
    left: -265px;
    background: rgb(8, 0, 255);
    background: -moz-radial-gradient(circle, rgba(8, 0, 255, 0.227328431372549) 0%, rgba(255, 0, 219, 0) 100%);
    background: -webkit-radial-gradient(circle, rgba(8, 0, 255, 0.227328431372549) 0%, rgba(255, 0, 219, 0) 100%);
    background: radial-gradient(circle, rgba(8, 0, 255, 0.227328431372549) 0%, rgba(255, 0, 219, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0800ff", endColorstr="#ff00db", GradientType=1);
    filter: blur(40px);
}

.Login-View-Content {
    width: 100%;
    height: 100%;
    z-index: 3;
    display: flex;
    justify-content: center;
}

.Login-View-Content-Container {
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 4;
    margin-top: 80px;
}

.Login-View-Content-Container-Text-Background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
}

.Login-View-Content-Container-Text-Container {
    width: 60%;
    height: auto;
    position: relative;
    z-index: 6;
    overflow: hidden;
}

.Login-View-Content-Container-Text-Content {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.Login-View-Title-AppName-Label {
    margin: auto;
    font-style: normal;
    background: #00EABE;
    background: linear-gradient(to right, #00EABE 6%, #211BCF 80%, #000d41 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    float: left;
}

.Login-View-Title-Label {
    width: 100%;
    font-family: poppinsMedium;
    font-size: 5rem;
    font-style: italic;
    color: #000d41;
    text-align: left;
    margin: 0;
    margin-bottom: 20px;
    float: left;
}

.Login-View-Greatings-Label {
    width: 70%;
    font-family: poppinsLight;
    font-size: 1.3rem;
    font-weight: 800;
    color: #000d41;
    text-align: left;
    margin: 0;
    padding-left: 8px;
    float: left;
}

.Login-View-Animation-Container {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.Login-View-Content-Container-Form-Container {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Login-View-Content-Form-Container {
    width: 60%;
    height: 72%;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.Login-View-Content-Form-Container-Background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    filter: blur(3px);
}

.Login-Forms-Container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
    position: absolute;
    z-index: 6;
    transition: .3s;
}

.Login-Forms-Container::-webkit-scrollbar {
    height: 0px;
    background-color: transparent;
}

/* * Movile Styles * */

@media screen and (min-width:0px) and (max-width:414px) {

    @keyframes sphereMovementAnimation {

        0% {
            transform: translate(0px, 0px);
            border-radius: 20% 80% 29% 71% / 69% 58% 42% 31%;
        }

        50% {
            transform: translate(10px, 20px);
            border-radius: 75% 25% 75% 25% / 33% 81% 19% 67%;
        }

        75% {
            transform: translate(0px, 0px);
            border-radius: 20% 80% 29% 71% / 69% 58% 42% 31%;
        }

    }

    .Login-View-Background-Shape-1 {
        width: 100px;
        height: 100px;
        top: auto;
        bottom: 50px;
        right: 0;
    }

    .Login-View-Content-Container-Background-Shape-1 {
        width: 150px;
        height: 150px;
        border-radius: 150px;
        top: -60px;
        bottom: auto;
        left: -60px;
    }


    .Login-View-Content-Container {
        width: 90%;
        height: 87%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        z-index: 4;
        margin-top: 80px;
    }

    .Login-View-Content-Container-Text-Container {
        width: 100%;
        max-height: 100%;
    }

    .Login-View-Title-Label {
        font-size: 20px;
        overflow: hidden;
    }

    .Login-View-Greatings-Label {
        display: none;
    }

    .Login-View-Animation-Container {
        margin: auto;
        width: 175px;
        height: 175px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -70vh;
    }

    .Login-View-Content-Container-Form-Container {
        width: 100%;
        height: 100%;
    }

    .Login-View-Content-Form-Container {
        width: 100%;
        height: 100%;
    }

    .Login-View-Content-Form-Container-Content {
        height: 100%;
    }

    .Login-View-Content-Form-Content-Title-Label {
        margin-top: 0;
        font-size: 20px;
    }

    .Login-Form-Action-Button-Register{
        background-color: #b3f5ffae;
    }

    .Login-Form-Action-Button-Container-Session {
        height: auto;
        display: block;
    }

    .Login-Form-Action-Button-Recover-Password {
        width: 100%;
        position: absolute;
        bottom: 0;
    }

}