.Profile-Picture-Explorer-Selector {
    margin: auto;
    width: 100%;
    height: 540px;
    border-radius: 5px;
    position: absolute;
    z-index: 100;
    top: 225px;
    left: 580px;
    right: 0;
    background-color: #ffffff;
    background-color: #eff3ff;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    transition: .2s;
}

.Profile-Picture-Explorer-Selector-Hided {
    top: 100vh;
}

.Profile-Picture-Explorer-Selector-Margin {
    margin: auto;
    width: 95%;
    height: auto;
}

.Profile-Picture-Explorer-Selector-Top-Container {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Explorer-Selector-Title-Label {
    font-family: Poppins-Medium;
    font-size: 18px;
    color: #000;
}

.Section-Title-Label{
    margin-bottom: 20px;
}

.Profile-Picture-Explorer-Defautl-Container {
    margin: auto;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.Profile-Picture-Explorer-Defautl-Container-Row{
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.Profile-Picture-Option-Container{
    max-width: 90px;
    width: 100%;
    height: 90px;
    border-radius: 90px;
    overflow: hidden;
    box-shadow: 0px 0px 38px 5px rgba(0,0,0,0.1);
    border: 1px solid #000d4100;
    cursor: pointer;
    transition: .2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Profile-Picture-Option-Container:hover{
    border: 1px solid #000d41;
}

.Profile-Picture-Option-Container img{
    width: auto;
    max-height: 100%;
    cursor: pointer;
}

.Icon-Button{
    cursor: pointer;
}