.Login-View-Content-Form-Container-Content {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 6;
}

.Login-View-Content-Form-Content-Title-Label {
    margin: auto;
    width: 100%;
    font-family: poppinsMedium;
    font-size: 28px;
    color: #000d41;
    margin-top: 10%;
    margin-bottom: 20px;
    cursor: default;
}

.Login-Form-Input-Container {
    width: calc(100% - 2px);
    height: 40px;
    background-color: #dfe5ff;
    border-radius: 15px;
    margin-bottom: 5px;
    overflow: hidden;
}

.Password-Changes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Login-Form-Input-Container-Input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    font-family: poppinsMedium;
    font-size: 14px;
    color: #000d41;
    padding-left: 10px;
}

.Input-Password-Changes {
    width: calc(100% - 50px);
}

.Login-Form-Password-Text-Switch{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.Login-Input-Error-Label {
    width: 100%;
    font-family: poppinsLight;
    font-size: 14px;
    color: #ff150d;
    margin-bottom: 15px;
}

.Login-Form-Action-Button-Container {
    width: 100%;
    height: auto;
}

.Login-Form-Action-Button-Container-Session {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.Login-Form-Action-Button-Recover-Password {
    border: none;
    background-color: transparent;
    font-family: poppinsMedium;
    font-size: 12px;
    color: #000d41;
    cursor: pointer;
}

.Login-Form-Action-Button-Login {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 15px;
    background: #000d41;
    font-family: poppinsMedium;
    font-size: 12px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 20px;
}

.Login-Form-Action-Button-Register {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 15px;
    background-color: #b3f5ff;
    font-family: poppinsMedium;
    font-size: 12px;
    color: #000d41;
    cursor: pointer;
    margin-bottom: 20px;
}