.Top-Container-Backup-Historial-Container {
    width: 550px;
    height: 100%;    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    box-shadow: 7px 7px 14px #212f4e14, -7px -7px 14px #58585818;
    background-color: #010101dc;
}

.Top-Container-Backup-Historial-Margin {
    width: 96%;
    height: 95%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.Top-Container-Backup-Historial-Top {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.Top-Container-Backup-Historial-Top-Title-Label {
    font-family: poppinsMedium;
    font-size: 18px;
    color: #ffffff;
    margin-top: -.05%;
    white-space: nowrap;
    cursor: default;
}

.Top-Container-Backup-Now-Button {
    height: 40px;
    padding: 0px 30px 0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: -webkit-radial-gradient(left bottom, rgb(0, 50, 252) 100px, rgb(0, 255, 255));
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

.Top-Container-Backup-Now-Button-Label {
    font-family: poppinsMedium;
    font-size: 14px;
    color: #ffffff;
    white-space: nowrap;
}

.Top-Container-Backup-Historial-Content-Container {
    width: 100%;
    height: calc(100% - 60px);
    overflow: hidden;
}

.Top-Container-Backup-Historial-Snippet{
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2px;
    background-color: #ffffff2f;
    margin-bottom: 21px;
    border-radius: 15px;
}

.Top-Container-Backup-Historial-Snippet-Margin{
    width: 97%;
    height: 73%;
    overflow: hidden;
}

.Top-Container-Backup-Historial-Snippet-Title{
    font-family: poppinsMedium;
    font-size: 14px;
    color: #ffffff;
    cursor: default;
}

.Top-Container-Backup-Historial-Bottom-Container{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Top-Container-Backup-Historial-Bottom-Labels{
    font-family: poppinsLight;
    font-size: 14px;
    color: #ffffff;
    white-space: nowrap;
    cursor: default;
}