.Database-Widget-Content-Container {
    width: 49%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    box-shadow: 7px 7px 14px #212f4e14, -7px -7px 14px #58585818;
}

.Database-Content-Container-Background {
    width: 100%;
    height: 100%;
    background-color: #040412;
    position: absolute;
    z-index: 1;
}

.Database-Content-Widget-Background-Sphere {
    width: 200px;
    height: 200px;
    filter: blur(15px);
    background: -webkit-radial-gradient(left bottom, rgb(189, 103, 255) 100px, rgb(120, 162, 255));
    border-radius: 200px;
    position: absolute;
    top: 60%;
    left: -5%;
    box-shadow: 0px 0px 100px 34px rgb(6, 6, 236, 0.324);
}

.Database-Content-Container-Margin {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    width: 96%;
    height: 100%;
    overflow: hidden;
    z-index: 2;
    background-color: transparent;
}

.Database-Content-Title-Label {
    width: 100%;
    height: 25px;
    font-family: poppinsMedium;
    font-size: 16px;
    color: #ffffff;
}

.Database-Windows-Container {
    margin: auto;
    width: 100%;
    height: 86%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.databasesContainer::-webkit-scrollbar {
    width: 0px;
}

.Database-Windows-Content-Margin {
    width: 97%;
    height: 95%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 47%;
    gap: 2%;
}

.Database-Window-Container {
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #0306166c, #00001c);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}

.Database-Window-Container:hover {
    background: linear-gradient(45deg, #3e3f456c, #00001c);
    transform: scale(1.05);
}

.Database-Window-Content-Margin {
    width: 90%;
    height: 90%;
}

.Database-Window-Top-Container {
    width: 100%;
    height: 15%;
    display: flex;
    justify-self: space-between;
    align-items: center;
}

.Database-Window-Last-Date-User-Container {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.Database-Window-Last-Date-User-Label {
    width: 100%;
    text-align: left;
    font-family: poppinsMedium;
    font-size: 12px;
    white-space: nowrap;
    color: #ffffff;
    cursor: default;
}

.Database-Window-Options-Button {
    height: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
}

.Database-Window-Center-Container {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Database-Window-Center-Name-Label {
    text-align: center;
    font-family: poppinsMedium;
    font-size: 18px;
    white-space: nowrap;
    color: #ffffff;
    cursor: default;

}

.Database-Window-Bottom-Container {
    width: 100%;
    height: 15%;
    display: flex;
    justify-self: space-between;
    align-items: center;
}

.Database-Window-Last-Users-Container {
    width: 70%;
    height: 100%;
}

.Database-Window-User-Snippet {
    width: 40%;
    height: 80%;
    border-radius: 50px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
}

.Database-Window-User-Image-Container {
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.Databa-Window-User-Image {
    width: 100%;
    height: auto;
}

.Database-Window-Storage-Space-Container {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.Database-Window-Storage-Space-Snippet {
    width: 90%;
    height: 80%;
    background-color: #ffffff;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.Database-Window-Storage-Space-Label {
    font-family: poppinsMedium;
    font-size: 12px;
    white-space: nowrap;
    color: #06113C;
}

/* * Styles for Cellphone * */

@media screen and (min-width:0px) and (max-width:414px) {

    .Database-Content-Container {
        width: 100%;
        height: 230px;
        margin-bottom: 20px;
    }

    .Database-Windows-Container {
        height: 170px;
    }

    .Database-Windows-Content-Margin {
        height: 95%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        grid-template-columns: none;
        grid-auto-rows: none;
        gap: none;
        overflow-x: scroll;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
    }

    .Database-Content-Container-Margin{
        width: 90%;
    }

    .Database-Content-Title-Label{
        font-size: 14px;
    }

    .Database-Window-Container{
        min-width: 160px;
        max-width: 160px;
        min-height: 160px;
        max-height: 160px;
        scroll-snap-align: start;
    }

    .Database-Window-Container:hover{
        transform: none;
    }

    .Database-Window-Storage-Space-Label{
        font-size: 10px;
    }

}