.Dashboard-Content-Container {
    width: 100%;
    height: 100%;
}

.Dashboard-Top-Section-Container {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
}

.Top-Section-Container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 7px 7px 14px #212f4e14, -7px -7px 14px #58585818;
}

.Top-Section-Container-Background {
    width: 100%;
    height: 100%;
    background-color: #040412;
    position: absolute;
    z-index: 1;

}

.Top-Section-Time-Shape {
    width: 225px;
    height: 225px;
    filter: blur(15px);
    background: -webkit-radial-gradient(left bottom, rgb(252, 255, 245) 100px, rgb(196, 242, 255));
    border-radius: 225px;
    position: absolute;
    top: -15%;
    left: 95%;
    box-shadow: 0px 0px 100px 34px rgb(6, 6, 236, 0.324);
}

.Top-Section-Container-Margin {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 98%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    z-index: 2;
    background-color: transparent;
}

.Dashboard-Bottom-Section-Container {
    width: 100%;
    height: 59%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}