.Header {
    width: 100%;
    height: 60px;
    background-color: #fff;
    position: fixed;
    z-index: 1000;
    border-bottom: 1px solid #00000022;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: .3s;
    overflow: visible;
}

.Header-Lateral-Menu-Button {
    display: none;
}

.Header-Logo-Container {
    width: 240px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-right: 1px solid #00000022;
}

.Header-Logo-Container h1 {
    font-family: poppinsMedium;
    font-size: 20px;
    padding: 0px 0px 0px 15px;
    color: #06113C;
    cursor: default;
}

.Header-View-Info-Container{
    width: calc(100% - 500px);
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: visible;
}

.Header-Account-Workspace-Selector{
    width: auto;
    height: auto;
    position: relative;
    overflow: visible;
}

.Header-Account-Current-Workspace-Container{
    width: auto;
    height: 40px;
    min-height: 40px;
    padding: 0px 15px 0px 15px;
    background-color: #06113c;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.Header-Account-Workspace-List-Option-Label,
.Header-Account-Workspace-Label{
    font-family: poppinsLight;
    font-size: 14px;
    color: #ffffff;
    white-space: nowrap;
}

.Header-Account-Workspace-Button{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Header-Account-Workspaces-Connected-List-Container{
    width: auto;
    max-width: 500px;
    height: 0px;
    position: absolute;
    z-index: 999;
    display: none;
    background-color: #06113c;
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 20px;
    transition: .3s;
}

.Header-Account-Workpace-List-Option-Container{
    width: auto;
    min-height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 15px 0px 15px;
    cursor: pointer;
}

.Workpace-List-Option-New{
    justify-content: space-around;
}

.Workpace-List-Option-New .Header-Account-Workspace-List-Option-Label{
    margin-right: 15px;
}

.Header-Current-View-Label{
    width: calc(100% - 480px);
    font-family: poppinsMedium;
    font-size: 16px;
    font-weight: 900;
    color: #06113C;
    margin-left: 10px;
    cursor: default;
}

.Header-User-Container {
    width: 240px;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.User-Container {
    width: 350px;
    height: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.User-Photo-Container {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 40px;
}

.User-Photo-Container img {
    width: 100%;
    height: auto;
}

.User-Name-Label {
    width: auto;
    max-width: 260px;
    font-family: poppinsMedium;
    font-size: 16px;
    color: #202020;
    margin-left: 10px;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}

.User-Options-Button {
    width: 35px;
    height: 35px;
    border: none;
    margin-left: 10px;
    border-radius: 5px;
    background-color: #f6f6f6;
    cursor: pointer;
}

.Header-Account-Workspace-List-Container{
    width: 100%;
    height: 0px;
    transition: .3s;
}

/* * Movile Styles * */

@media screen and (min-width:0px) and (max-width:414px) {

    .Header {
        background-color: rgba(255, 255, 255, 0);
        border-bottom: 1px solid rgba(0, 0, 0, 0);
    }

    .Header-Lateral-Menu-Button {
        width: 35px;
        height: 35px;
        border: none;
        margin-left: 10px;
        border-radius: 5px;
        background-color: #f6f6f6;
        cursor: pointer;
        display: block;
    }

    .Header-Logo-Container{
        width: calc(100% - 90px);
        justify-content: center;
        border-right: 0px;
    }

    .Header-Logo-Container h1 {
        padding: 0;
    }

    .Header-View-Info-Container{
        display: none;
    }

    .Header-User-Container{
        width: 50px;
    }

    .User-Name-Label{
        display: none;
    }

    .User-Options-Button{
        display: none;
    }

}