@font-face {
    font-family: poppinsLight;
    src: url(../../assets/fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: poppinsMedium;
    src: url(../../assets/fonts/Poppins-Medium.ttf);
}

.sideNavBar {
    width: 70px;
    min-width: 70px;
    height: 90%;
    background-color: #ffffff;
    box-shadow: 12px 23px 31px 13px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: .3s;
}

.sideNavBarContainer {
    margin: auto;
    width: 60px;
    height: 95%;
}

.topSideNavBarContainer {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.userPhotoContainer {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 12px 23px 31px 13px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.userPhotoContainer img {
    width: 100%;
    height: auto;
}

.topSlash {
    margin: auto;
    width: 60px;
    height: 1px;
    background-color: #0000003c;
    margin-bottom: 15px;
}

.sideNavBarContainer p {
    width: 100%;
    text-align: center;
    font-family: poppinsMedium;
    font-size: 16px;
    color: #000000;
}

.navOptionContainer {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.navOptionIconContainer {
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: .3s;
}

.optionSelected {
    border-radius: 50px;
    background: rgb(61, 0, 244);
    background: -moz-linear-gradient(98deg, rgba(61, 0, 244, 1) 0%, rgba(0, 228, 255, 1) 100%);
    background: -webkit-linear-gradient(98deg, rgba(61, 0, 244, 1) 0%, rgba(0, 228, 255, 1) 100%);
    background: linear-gradient(98deg, rgba(61, 0, 244, 1) 0%, rgba(0, 228, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3d00f4", endColorstr="#00e4ff", GradientType=1);
    border-radius: 50%;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.navOptionIconContainer:hover {
    background-color: #73737323;
    border-radius: 50%;
    box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;
}