.Password-Generator-Container-Layer {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Password-Generator-Widget {
    width: 100%;
    max-width: 580px;
    height: 62%;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 20px 20px 0px #00000045;
}

.Password-Generator-Widget-Background {
    width: 100%;
    height: 100%;
    /* background-color: #040412; */
    background-color: #dfecff;
    position: absolute;
    z-index: 4;
}

.Password-Generator-Widget-Background-Sphere {
    width: 40px;
    height: 40px;
    filter: blur(15px);
    /* background: #0901ff; */
    background: rgba(6, 6, 236, 0.324);
    background: -moz-radial-gradient(circle, rgba(9, 1, 255, 1) 0%, rgba(76, 0, 255, 1) 100%);
    background: -webkit-radial-gradient(circle, rgba(9, 1, 255, 1) 0%, rgba(76, 0, 255, 1) 100%);
    background: radial-gradient(circle, rgba(9, 1, 255, 1) 0%, rgba(76, 0, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0901ff", endColorstr="#4c00ff", GradientType=1);
    border-radius: 40px;
    position: absolute;
    top: 15%;
    left: 5%;
    box-shadow: 0px 0px 40px 34px rgb(6, 6, 236, 0.324);
    opacity: 0.5;
}

.Pending-Task-Widget-Background-Sphere-2 {
    width: 200px;
    height: 200px;
    filter: blur(15px);
    background: -webkit-radial-gradient(left bottom, #fa6904d6 100px, #d2ff05);
    border-radius: 200px;
    position: absolute;
    top: 30%;
    left: 90%;
    box-shadow: 0px 0px 100px 34px rgb(6, 6, 236, 0.324);
}

.Password-Generator-Widget-Content {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Password-Generator-Widget-Content-Margin {
    width: 94%;
    height: 95%;
}

.Password-Generator-Widget-Section-Title-Bar {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Password-Generator-Widget-Title-Label {
    font-family: poppinsMedium;
    font-size: 16px;
    color: #06113c;
}

.Password-Generator-Widget-Section-Password-Result-Container {
    width: 100%;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Password-Generator-Widget-Password-Result-Flip-Column-Option {
    margin: auto;
    width: auto;
    max-width: 90%;
    font-family: poppinsMedium;
    color: #06113c;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

.Password-Generator-Widget-Section-Password-Result-Container-Action-Buttons-Container {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.Password-Result-Container-Action-Buttons-Container-Margin {
    width: 90px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Password-Result-Container-Action-Button {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #06113cb3;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.1);
    transition: .2s;
    overflow: hidden;
}

.Password-Result-Container-Action-Button:hover {
    background-color: #06113c;
    box-shadow: 0px 5px 1px 0px rgba(0, 0, 0, 0.253);
}

.Password-Generator-Widget-Section-Password-Result-Properties-Container {
    margin: auto;
    width: calc(100% - 60px);
    height: auto;
    min-height: 40px;
}

.Password-Generator-Widget-Section-Password-Result-Properties-Title {
    font-family: poppinsMedium;
    font-size: 16px;
    color: #06113c;
    white-space: nowrap;
}

.Password-Generator-Widget-Property-Container {
    width: 100%;
    height: auto;
}

.Password-Generator-Widget-Property-Title-Label {
    font-family: poppinsLight;
    font-size: 14px;
    color: #000000;
    white-space: nowrap;
}

.Password-Generator-Widget-Property-Container-Slider {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.Password-Generator-Widget-Property-Container-Slider-Container {
    width: calc(100% - 60px);
}

.Password-Generator-Widget-Property-Container-Slider-Range-Container {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Password-Generator-Widget-Property-Container-Slider-Range-Label {
    font-family: poppinsMedium;
    font-size: 14px;
    color: #ffffff5f;
    white-space: nowrap;
}

.Password-Generator-Widget-Property-Container-Slider-Input-Container {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #06113c;
    overflow: hidden;
}

.Password-Generator-Widget-Property-Container-Slider-Input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    text-align: center;
    font-family: poppinsMedium;
    font-size: 16px;
    color: #fff;
    white-space: nowrap;
    background: transparent;
}

.Password-Generator-Widget-Property-Container-Slider-Input::-webkit-outer-spin-button,
.Password-Generator-Widget-Property-Container-Slider-Input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.Password-Generator-Widget-Section-Save-Password-Container {
    margin: auto;
    width: calc(100% - 60px);
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Password-Generator-Widget-Section-Save-Password-Title-Label {
    font-family: poppinsMedium;
    font-size: 14px;
    color: #06113c;
}