.SafetyBox-SearchBar-Container {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
}

.SafetyBox-SearchBar-Category-Filter-Button {
    width: 125px;
    min-width: 125px;
    height: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #06113c;
    cursor: pointer;
    border-radius: 10px;
}

.SafetyBox-SarchBar-Category-Filter-Label {
    color: #ffffff;
    font-family: poppinsLight;
    font-size: 14px;
    border-radius: 10px;
}

.SafetyBox-SearchBar-Input-Container {
    width: calc(100% - 525px);
    height: 100%;
    border-radius: 5px;
    background-color: #ffffff;
    overflow: hidden;
    box-shadow: 0px 10px 23px 0px rgba(0, 0, 0, 0.1);
}

.SafetyBox-SearchBar-Input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding-left: 10px;
    color: #000000;
    font-family: poppinsLight;
    font-size: 16px;
}

.SafetyBox-SeachBar-Normal-Button {
    width: 150px;
    height: 100%;
    background-color: #06113c;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 0px 15px 0px 15px;
    cursor: pointer;
}

.SafetyBox-SearchBar-Button-Label {
    color: #ffffff;
    font-family: poppinsLight;
    font-size: 14px;
    flex-wrap: nowrap;
}