/* * Style for Database View Container * */

.databaseViewContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.databaseToolsContainer {
    width: 64%;
    height: 100%;
}

.databaseToolsTopContainer {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.databaseReadContainer {
    width: auto;
    height: 100%;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.databaseResultsContainer {
    width: 100%;
    height: auto;
    max-height: calc(100% - 80px);
    border-radius: 5px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.databaseResultsContainer::-webkit-scrollbar {
    width: 14px;
    height: 10px;
    background-color: #ebf2ff;
}

.databaseResultsContainer::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: #06113C;
}

.databaseReadContainer img {
    width: auto;
    height: 100%;
}

.Database-Results-Table {
    width: 100%;
    border-collapse: collapse;
}

.Database-Table-Head-Title-Label {
    height: 20px;
    padding: 5px 10px 5px 0px;
    font-family: poppinsLight;
    font-size: 12px;
    color: #ffffff;
    white-space: nowrap;
    cursor: default;
    text-align: left;
}

.Database-Table-Body-Title-Label {
    height: 40px;
    padding: 5px 10px 5px 0px;
    text-align: left;
    font-family: poppinsLight;
    font-size: 12px;
    white-space: nowrap;
    cursor: pointer;    
    border-bottom: 1px solid #0000001a;
}

th:first-child,
td:first-child {
    width: 20px;
    border-bottom: 1px solid #0000001a;

}

th:first-child input,
td:first-child input {
    cursor: pointer;
}

.Database-Table-Head-Row {
    background-color: #06113C;
}

.Database-Table-Body-Row {
    background-color: #ffffff;
    cursor: pointer;
}

.Database-Table-Body-Row:hover {
    background-color: transparent;
    cursor: pointer;
}

.Database-Table-Body-Products-Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Database-Table-Body-Products-Button {
    width: 90px;
    height: 25px;
    background-color: #06113C;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 35px;
    cursor: pointer;
}

.Database-Table-Body-Products-Button-Label {
    font-family: poppinsLight;
    font-size: 10px;
    color: #ffffff;
}

@media screen and (max-width: 600px) {

    td,
    th {
        display: block;
        text-align: center;
    }

    td:before,
    th:before {
        content: attr(data-label);
        display: block;
        text-align: left;
    }

    td:first-child,
    th:first-child {
        display: none;
    }
}