.Database-View-Results-Table-Container {
    width: 100%;
    height: calc(100% - 140px);
    margin-top: 15px;
    position: relative;
}

.Database-View-Element-View-Container {
    width: 32%;
    height: 100%;
    position: relative;
}

.Database-View-Element-View-Background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background: #ffffff6a;
    backdrop-filter: blur(16.5px);
    -webkit-backdrop-filter: blur(16.5px);
    border-radius: 10px;
}

.Database-View-Results-Table-Content {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.Database-View-Results-Table-Content-Skeleton {
    width: calc(100% - 10px);
    height: calc(100% - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Table-Content-Animation-Container {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.Table-Content-Animation-Text-Container {
    min-width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Database-View-Results-Table-Content-Denied {
    width: calc(100% - 10px);
    height: calc(100% - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Table-Header-Container {
    width: calc(100% - 10px);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c2e2ff;
    margin-bottom: 10px;
}

.Table-Header-Content-Margin {
    width: 98%;
    height: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Table-Header-Cell-Container {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Table-Header-Cell-Container:first-child {
    max-width: 50px;
}

.Table-Title-Label {
    max-width: 95%;
    font-family: poppinsMedium;
    font-size: 14px;
    color: #000d41;
    overflow: hidden;
}

.Table-Text-Label {
    max-width: 95%;
    font-family: poppinsLight;
    font-size: 14px;
    color: #000d41;
    overflow: hidden;
    white-space: nowrap;
}



.Table-Content-Container {
    width: calc(100% - 10px);
    height: calc(100% - 60px);
    overflow-y: scroll;
}

.Table-Content-Container::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

.Table-Content-Container::-webkit-scrollbar-thumb {
    background: #00eabe;
}

.Table-Content-Container-Empty-Container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Table-Row-Container {
    width: calc(100% - 10px);
    height: 50px;
    background-color: #ffffff;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Table-Row-Container:hover {
    background-color: #eaeaea;
}

.Table-Content-Cell-Container {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Table-Content-Cell-Container:first-child {
    max-width: 50px;
}

.Content-Cell-DS-DBT-STATE-COMPONENT,
.Content-Cell-header-status {
    max-width: 100px;
}

.Content-Cell-CopNum,
.Content-Cell-header-numberCOP {
    max-width: 85px;
}

.Content-Cell-Fecha,
.Content-Cell-header-orderDate {
    max-width: 100px
}

/* * Table Status Snippet * */

.Table-Status-Snippet {
    width: auto;
    height: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Snippet-Status-activa {
    background-color: #00eabe;
    box-shadow: 0px 10px 31px -3px #00eabf80;
    color: #000d41;
}

.Snippet-Status-completed {
    background-color: #000d41;
    box-shadow: 0px 10px 31px -3px #000d4180;
    color: #fff;
}

.Snippet-Status-canceled {
    background-color: #fb1109;
    box-shadow: 0px 10px 31px -3px #c8080180;
    color: #ffffff;
}

.Snippet-Label {
    font-family: poppinsLight;
    font-size: 14px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    white-space: nowrap;
}

/* * Table Author Snippet * */



/*

.Database-View-Results-Table-Column-Header-Cells{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1%;    
}

.Database-Table-Selector-Component-Container{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Column-Header-Cell-Selector{
    max-width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    cursor: pointer;
}

.Column-Header-Cell-Estado{
    max-width: 95px;
}

.Column-Header-Cell-CopNum{
    max-width: 70px;
}

.Column-Header-Cell-Fecha{
    max-width: 100px;
}

.Column-Header-Cell-Autor{
    max-width: 140px;
}

.Database-View-Results-Table-Column-Header-Label{
    font-family: poppinsMedium;
    font-size: 14px;
    color: #000d41;
}

.Table-Rows-Container{
    width: calc(100% -10%);
    height: 100% - 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Database-View-Results-Table-Rows-Cells-Container{
    width: calc(100% - 10px);
    height: calc(100% - 70px);
    overflow: scroll;
    margin-top: 10px;
}

.Database-View-Results-Table-Rows-Cells-Container::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

.Database-View-Results-Table-Rows-Cells-Container::-webkit-scrollbar-thumb {
    background: #00eabe;
}


.Database-View-Results-Table-Row-Cells-Container{
    width: 100%;
    height: 50px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffffd3;
    cursor: pointer;
    transition: .3s ;
    animation-name: entrieAnimationIn;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.Database-View-Results-Table-Row-Cells-Container:hover{
    background-color: #e4e4e4d3;
}


.Database-View-Result-Table-Cell{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
}

.Row-Cell-Container{
    max-width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    cursor: pointer;
}

.Row-Cell-Estado{
    max-width: 95px;
    justify-content: flex-start;
}



.Row-Cell-CopNum{
    max-width: 70px;
}

.Row-Cell-Fecha{
    max-width: 100px;
}

.Row-Cell-Autor{
    max-width: 140px;
}

.Database-View-Result-Table-Cell-Label{
    max-width: 95%;
    font-family: poppinsLight;
    font-size: 14px;
    color: #000d41;
    white-space: nowrap;
}

*/