@keyframes DatabaseFormSlideIn {

    0%{
        transform: translateY(652px)
    }

    100%{
        transform: translateY(0px);
    }
    
}

.Database-Form-Container{
    width: 580px;
    height: 650px;
    background-color: #081648;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    position: absolute;
    z-index: 5;
    bottom: 0;
    right: 0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    animation-name: DatabaseFormSlideIn;
    animation-duration: .3s;
    animation-fill-mode: backwards;
}

.Database-Form-Margin{
    width: 95%;
    height: 100%;
}

.Database-Form-Top-Container{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Form-Title-Label{
    font-family: poppinsMedium;
    font-size: 16px;
    color: #ffffff;
}

.Database-Form-Top-Container-Action-Buttons-Container{
    width: 90px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Database-Form-Title-Action-Button{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    transition: .3s;
}

.Database-Form-Title-Action-Button:hover{
    background-color: #ffffff3a;
}

.Database-Form-Sections-Container{
    width: 100%;
    height: calc(100% - 60px);
    overflow-y: scroll;
}

.Database-Form-Sections-Container::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

.Database-Form-Sections-Container::-webkit-scrollbar-thumb {
    background: #00eabe;
}

.Database-Form-Sections-Margin{
    width: calc(100% - 10px);
    height: auto;
}

.Database-Form-OrderData-Section{
    width: 100%;
    height:60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
}

.Database-Form-Container-Block{
    width: 62%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.Database-Form-Section-Container{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.Database-Form-Section-Title{
    width: 100%;
    font-family: poppinsMedium;
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 10px;
}

.Database-Form-Section-Shape-2_50{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.Database-Form-Section-Block-2{
    width: 150%;
    height: 60px;
}

.Database-Form-List-Tools-Bar{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.Database-Form-Search-Button{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 5px;
}

.Database-Form-New-Product-Button{
    width: auto;
    height: 40px;
    border-radius: 5px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Database-Form-Tools-Button-Label{
    padding: 0px 10px 0px 10px;
    font-family: poppinsMedium;
    font-size: 14px;
    color: #081648;
}

.Form-Order-Lists-Container{
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    overflow-x: scroll;
}

.Form-Order-Lists-Container::-webkit-scrollbar {
    height: 5px;
    background-color: transparent;
}

.Form-Order-Lists-Container::-webkit-scrollbar-thumb {
    background: #00eabe;
}

.Form-Order-List-Container,
.Form-Order-Element-List-Container{
    min-width: 100%;
    height: 170px;
    background-color: #ffffff35;
    border-radius: 5px;
}

.Database-Form-Action-Button-Container{
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    margin-bottom: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.Action-Button-Label{
    font-family: poppinsMedium;
    font-size: 14px;
    color: #081648;   
}