

.Top-Search-Container{
    width: 75%;
    height: 35px;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Top-Search-Current-Collection-Container{
    width: 119px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #0000001c;
    position: relative;
}

.Top-Search-Select-Collection-Button{
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
    position: absolute;
    z-index: 2;
    top: 0;
}

.Top-Search-Current-Collection-Name-Label{
    font-family: poppinsLight;
    font-size: 14px;
}

.Top-Search-Select-Collection-Options-Container{
    width: 100%;
    height: 0px;
    position: absolute;
    z-index: 1;
    top: 5px;
    background-color: #fff;
    padding-top: 30px;
    box-shadow: 0px 10px 15px -10px rgba(0,0,0,0.1);
    transition: .3s;
    overflow: hidden;
    border-radius: 50px 0px 0px 50px;
}

.Top-Search-Option-Button{
    width: 100%;
    height: 35px;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: none;
    cursor: pointer;
}

.Top-Search-Option-Button:hover{
    background-color: #dfdfdf;
}

.Top-Search-Option-Collection-Name-Label{
    font-family: poppinsLight;
    font-size: 14px;
    margin-left: 15px;
}

.Top-Search-Input-Container{
    width: calc(100% - 120px);
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Top-Search-Input-Container input{
    width: calc(100% - 20px);
    height: 100%;
    outline: none;
    border: none;
    padding-left: 20px;
    font-family: poppinsLight;
    font-size: 16px;
    border-radius: 0px 50px 50px 0px;
}