.Home-Page-Container {
    width: 100%;
    height: auto;
}

.Home-Page-Margin {
    margin: auto;
    width: 95%;
    height: auto;
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.Home-Page-Text-Content-Container {
    width: 60%;
    height: auto;
}

.Home-Page-Title {
    font-size: 80px;
    color: #000d41;
    margin-bottom: 20px;
    font-style: italic;
}

.Home-Page-Subtitle {
    font-size: 20px;
}

.Home-Page-Animation-Player-Container{
    width: 550px;
    height: 550px;
}

.Home-Page-Auth-Form-Container {
    width: 40%;
    height: auto;
}

.Auth-Form-Margin {
    margin: auto;
    max-width: 85%;
}

.Auth-Form-Section-Container{
    width: 100%;
    height: auto;
    transition: .2s;
}