.Home-Page-Container {
    width: 100%;
    height: auto;
}

.Home-Page-Margin {
    margin: auto;
    width: 95%;
    height: auto;
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.Home-Page-Text-Content-Container {
    width: 60%;
    height: auto;
}

.Home-Page-Name{
    font-size: 80px;
    color: #000d41;
    margin-bottom: 5px;
    font-style: normal;
}

.Home-Page-Title {
    font-size: 80px;
    color: #000d41;
    margin-bottom: 20px;
    font-style: italic;
}

.Home-Page-Subtitle {
    font-size: 20px;
}

.Home-Page-Animation-Player-Container{
    width: 550px;
    height: 550px;
}

.Home-Page-Auth-Form-Container {
    width: 40%;
    height: auto;
}

.Auth-Form-Margin {
    margin: auto;
    max-width: 540px;
}

.Auth-Form-Top-Section-Container {
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
    margin-bottom: 40px;
}

.Auth-Form-App-Logo-Container {
    width: 100%;
    height: 150px;
    display: grid;
    place-items: center;
}

.Logo-Container {
    width: 120px;
    height: 120px;
    background-color: #ffffff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px -10px 15px -3px rgba(0, 0, 0, 0.1);
}

.Logo-Container img {
    width: auto;
    max-height: 100%;
    filter: drop-shadow(0px -5px 4px #000d415d);
}

.Auth-Form-SubLabel {
    font-family: Poppins-Medium;
    font-style: 24px;
    color: #000d41c3;
    transition: .2s;
}

.Auth-Form-Section-Container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;
    overflow: hidden;
    transition: .2s;
    position: relative;
}

.Auth-Form-Login-Container,
.Auth-Form-Forgot-Password-Container,
.Auth-Form-Register-Container {
    min-width: 98%;
}

.Doble-Form-Section-Container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Doble-Form-Section-Container .Regiter-Form-Section {
    max-width: 49%;
}

.Form-Section {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 15px;
}

.Regiter-Form-Section {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.Form-Section-Name {
    font-family: Poppins-Medium;
    color: #000000;
    white-space: nowrap;
}

.Form-Input-Container {
    width: 100%;
    height: 45px;
    background-color: #ffffff;
    border-radius: 5px;
    display: grid;
    place-items: center;
    box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.1);
    cursor: text;
}

.Form-Text-Input {
    width: calc(100% - 20px);
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: text;
}

.Form-Switch-Input-Container {
    width: 100%;
    height: calc(100% - 35px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Form-Password-Input-Container {
    width: calc(100% - 55px);
    height: 45px;
    background-color: #ffffff;
    border-radius: 5px;
    display: grid;
    place-items: center;
    box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.1);
    cursor: text;
}

.Form-Password-Input {
    width: calc(100% - 20px);
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: text;
}

.Form-Password-Input-Type-Switch-Button {
    width: 45px;
    height: 45px;
    background-color: #ffffff;
    border-radius: 5px;
    display: grid;
    place-items: center;
    box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.Form-Session-Action-Buttons-Container {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.Form-Forgot-Password-Button {
    height: 40px;
    display: grid;
    place-items: center;
    padding: 0px 10px 0px 10px;
    border-radius: 10px;
    transition: .2s;
    cursor: pointer;
}

.Form-Forgot-Password-Button:hover {
    background-color: #ffffff8e;
    box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.1);
}

.Button-Label {
    cursor: pointer;
    color: #000000;
    white-space: nowrap;
}

.Form-Action-Buttons-Container {
    width: 100%;
}

.Auth-Form-Login-Button {
    width: 100%;
    height: 40px;
    background-color: #000d41;
    display: grid;
    place-items: center;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: .2s;
    box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.1);
}

.Auth-Form-Login-Button .Button-Label {
    cursor: pointer;
    color: #ffffff;
}

.Auth-Form-Register-Button {
    width: 100%;
    height: 40px;
    background-color: #00eabe;
    display: grid;
    place-items: center;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
    box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.1);
}

.Auth-Form-Register-Button .Button-Label {
    color: #000d41;
    cursor: pointer;
}

.Invalid-Form-Input-Container {
    box-shadow: inset 0px 0px 0px 2px #ff150d;
}

.Form-Input-Message-Label {
    width: calc(100% - 4px);
    white-space: nowrap;
    overflow: hidden;
    color: #ff150d;
    font-weight: 600;
    padding-left: 2px;
    opacity: 0;
    transition: .2s;
}

.Icon-Button {
    height: 40px;
    display: grid;
    place-items: center;
    padding: 0px 10px 0px 10px;
    border-radius: 10px;
    transition: .2s;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    background-color: #ffffff8e;
    box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.1);
}

.Form-Section-Text-Label {
    margin-bottom: 20px;
}

.Register-Form-Avatar-Selector-Container {
    width: 100%;
    height: 140px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Register-Avatar-Selected-Container {
    width: 130px;
    height: 130px;
    border-radius: 140px;
    background-color: #ffffff;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 38px 5px rgba(0, 0, 0, 0.1);
    border: 2px solid #000d4190;
    cursor: pointer;
}

.Register-Avatar-Selected-Container img {
    width: auto;
    max-height: 100%;
}

.Avatar-Select-Button {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background-color: transparent;
    transition: .2s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Avatar-Select-Button:hover {
    background-color: #000d4190;
}

.Avatar-Select-Button:hover .Avatar-Select-Button-Label {
    opacity: 1;
}

.Avatar-Select-Button-Label {
    color: #ffffff;
    text-align: center;
    opacity: 0;
    transition: .2s;
    cursor: pointer;
}

.Password-Input-Container-Complete {
    width: 100%;
}