body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: rgb(250, 244, 255);
  background: -moz-linear-gradient(135deg, rgba(250, 244, 255, 1) 0%, rgba(215, 229, 250, 1) 100%);
  background: -webkit-linear-gradient(135deg, rgba(250, 244, 255, 1) 0%, rgba(215, 229, 250, 1) 100%);
  background: linear-gradient(135deg, rgba(250, 244, 255, 1) 0%, rgba(215, 229, 250, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#faf4ff", endColorstr="#d7e5fa", GradientType=1);
  display: flex;
  justify-content: center;
  align-items: center;
}

#root{
  width: 95vw;
  height: 90vh;
  overflow: hidden;
}