.App-View-Container {
    width: 100%;
    height: 100%;
    position: relative;
}

.App-View-Background {
    margin: auto;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background: rgb(233, 248, 255);
    background: -moz-linear-gradient(309deg, rgba(233, 248, 255, 1) 0%, rgba(238, 233, 255, 1) 100%);
    background: -webkit-linear-gradient(309deg, rgba(233, 248, 255, 1) 0%, rgba(238, 233, 255, 1) 100%);
    background: linear-gradient(309deg, rgba(233, 248, 255, 1) 0%, rgba(238, 233, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e9f8ff", endColorstr="#eee9ff", GradientType=1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.App-View-Sphere-shape-1 {
    width: 250px;
    height: 250px;
    border-radius: 250px;
    position: absolute;
    z-index: 2;
    background-image: linear-gradient(50deg,
            hsl(159deg 100% 62%) 0%,
            hsl(171deg 100% 47%) 21%,
            hsl(180deg 100% 44%) 30%,
            hsl(190deg 100% 48%) 39%,
            hsl(197deg 100% 50%) 46%,
            hsl(202deg 100% 50%) 54%,
            hsl(207deg 100% 50%) 61%,
            hsl(214deg 100% 50%) 69%,
            hsl(222deg 100% 50%) 79%,
            hsl(241deg 100% 45%) 100%);
    filter: blur(15px);
    top: -5px;
    right: -25px;
}

.App-View-Sphere-shape-2 {
    width: 250px;
    height: 250px;
    border-radius: 250px;
    position: absolute;
    z-index: 2;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    filter: blur(25px);
    top: 35%;
    left: 8%;
}

.App-View-Sphere-shape-3 {
    width: 250px;
    height: 250px;
    border-radius: 250px;
    position: absolute;
    z-index: 2;
    background-image: linear-gradient(245deg,
            hsl(159deg 100% 62%) 0%,
            hsl(172deg 100% 49%) 16%,
            hsl(182deg 100% 49%) 23%,
            hsl(186deg 100% 50%) 28%,
            hsl(190deg 100% 50%) 33%,
            hsl(194deg 100% 50%) 38%,
            hsl(199deg 100% 50%) 43%,
            hsl(206deg 100% 50%) 51%,
            hsl(261deg 100% 70%) 61%,
            hsl(294deg 100% 49%) 90%);
    filter: blur(25px);
    top: 79%;
    right: -3%;
}

.App-View-Content-Container {
    margin: auto;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    background-color: transparent;
}

.App-Content-Container {
    width: calc(100% - 240px);
    height: calc(100% - 61px);
    margin: 61px 0px 0px 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.App-Content-Margin {
    width: 97.5%;
    height: 98%;
}

/* * Dark Theme Styles * */

.DarkTheme .App-View-Background {
    background: rgb(2, 2, 83);
    background: -moz-linear-gradient(144deg, rgba(2, 2, 83, 1) 0%, rgba(14, 14, 38, 1) 100%);
    background: -webkit-linear-gradient(144deg, rgba(2, 2, 83, 1) 0%, rgba(14, 14, 38, 1) 100%);
    background: linear-gradient(144deg, rgba(2, 2, 83, 1) 0%, rgba(14, 14, 38, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020253", endColorstr="#0e0e26", GradientType=1);
}