.App-View-Container {
    width: 100%;
    height: 100%;
    position: relative;
}

.App-View-Background {
    margin: auto;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background: rgb(233, 248, 255);
    background: -moz-linear-gradient(309deg, rgba(233, 248, 255, 1) 0%, rgba(238, 233, 255, 1) 100%);
    background: -webkit-linear-gradient(309deg, rgba(233, 248, 255, 1) 0%, rgba(238, 233, 255, 1) 100%);
    background: linear-gradient(309deg, rgba(233, 248, 255, 1) 0%, rgba(238, 233, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e9f8ff", endColorstr="#eee9ff", GradientType=1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.App-View-Sphere-shape-1 {
    width: 250px;
    height: 250px;
    border-radius: 250px;
    position: absolute;
    z-index: 2;
    background: rgb(0, 0, 255);
    background: -moz-linear-gradient(144deg, rgba(0, 0, 255, 1) 0%, rgba(132, 0, 255, 1) 100%);
    background: -webkit-linear-gradient(144deg, rgba(0, 0, 255, 1) 0%, rgba(132, 0, 255, 1) 100%);
    background: linear-gradient(144deg, rgba(0, 0, 255, 1) 0%, rgba(132, 0, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0000ff", endColorstr="#8400ff", GradientType=1);
    filter: blur(15px);
    top: -5px;
    right: -25px;
}

.App-View-Sphere-shape-2 {
    width: 250px;
    height: 250px;
    border-radius: 250px;
    position: absolute;
    z-index: 2;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    filter: blur(25px);
    top: 35%;
    left: 8%;
}

.App-View-Content-Container {
    margin: auto;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    background-color: transparent;
}

.App-Content-Container {
    width: calc(100% - 240px);
    height: calc(100% - 61px);
    margin: 61px 0px 0px 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.App-Content-Margin {
    width: 97.5%;
    height: 98%;
}

/* * Dark Theme Styles * */

.DarkTheme .App-View-Background {
    background: rgb(2, 2, 83);
    background: -moz-linear-gradient(144deg, rgba(2, 2, 83, 1) 0%, rgba(14, 14, 38, 1) 100%);
    background: -webkit-linear-gradient(144deg, rgba(2, 2, 83, 1) 0%, rgba(14, 14, 38, 1) 100%);
    background: linear-gradient(144deg, rgba(2, 2, 83, 1) 0%, rgba(14, 14, 38, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020253", endColorstr="#0e0e26", GradientType=1);
}